%p
  %h3 Category name: #{category.name}
  
%br
%p
  %table.table
    %tr
      %th Name
      %th Average rating
      %th
      %th
      %th

    - category.products.each do |product|
      %tr
        %td= product.title
        %td= product.average_rating
        %td= link_to 'Show', category_product_path(category, product)
        %td= link_to 'Edit', edit_category_product_path(category, product)
        %td
  
%br
%br
-if user_signed_in?
  %p
    %h4 New product
    = render 'products/form'
-if user_signed_in? && current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
