%p
  %h4 Title: #{ product.title }

%br
%br

%table.table.table-condensed
  %tr
    %th Description
    %td= product.description
  %tr
    %th Price
    %td= product.price
  %tr
    %th Category
    %td= product.category.name  
%br
%br
%br
    
%p
  %h4 Review



-if user_signed_in?
  = render 'reviews/form'

%br

= render reviews
%br
-if product.user==current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
