

%p
  %h4 Title:
  = product.title
%p
  %h4 Description:
  = product.description
%p
  %h4 Price:
  = product.price

%p
  %h4 Category
  = product.category.name
%br
%br
%br
%h4 Reviews
-if user_signed_in?
  = render 'reviews/form'

%br

= render reviews
%br
-if product.user==current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
